<div class="user-list">
  <div *ngIf="users.length > 0; else noUsers">

    <a routerLink="signup" class="add-button">
      <i class="fas fa-plus"></i> Add user
    </a>
    <table class="user-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td [ngClass]="getRoleClass(user.role)">{{ user.role }}</td>

      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noUsers>
    <p class="no-users-message">No users found.</p>
  </ng-template>
</div>
