<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="header">
      <img src="https://example.com/logo.png" alt="Logo" class="logo"/>
      <div class="header-text">Support It</div>
    </div>

    <div class="menu">
      <h2>Dashboard</h2>
      <ul>

        <li [ngClass]="{'active': (currentRoute$ | async) === '/dashboard/equipments'}">
          <a routerLink="/dashboard/equipments">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="menu-icon">
              <path d="M4.5 2a.75.75 0 0 1 .75.75v6a.75.75 0 0 1-1.5 0v-6A.75.75 0 0 1 4.5 2zM15 2a.75.75 0 0 1 .75.75v6a.75.75 0 0 1-1.5 0v-6A.75.75 0 0 1 15 2zM4.5 8.25a.75.75 0 0 1 .75.75v6a.75.75 0 0 1-1.5 0v-6a.75.75 0 0 1 .75-.75zM15 8.25a.75.75 0 0 1 .75.75v6a.75.75 0 0 1-1.5 0v-6a.75.75 0 0 1 .75-.75z"/>
            </svg>
            <span>Equipments</span>
          </a>
        </li>


        <li [ngClass]="{'active': (currentRoute$ | async) === '/dashboard/users'}">
          <a routerLink="/dashboard/users">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/user.png" class="menu-icon" alt="Users"/>
            <span>Users</span>
          </a>
        </li>
        <li [ngClass]="{'active': (currentRoute$ | async) === '/dashboard/incidents'}">
          <a routerLink="/dashboard/incidents">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="menu-icon">
              <path d="M12 3a9 9 0 0 0-9 9h2a7 7 0 1 1 7 7v2a9 9 0 0 0 0-18z"/>
            </svg>
            <span>Incidents</span>
          </a>
        </li>

        <li [ngClass]="{'active': (currentRoute$ | async) === '/dashboard/admin-tickets'}">
          <a routerLink="/dashboard/admin-tickets">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/ticket.png" class="menu-icon" alt="Tickets"/>
            <span>Tickets</span>
          </a>
        </li>

        <li [ngClass]="{'active': (currentRoute$ | async) === '/dashboard/settings'}">
          <a routerLink="/dashboard/settings">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/settings.png" class="menu-icon" alt="Settings"/>
            <span>Menu Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Main Content Area -->
  <div class="main-content">

    <router-outlet></router-outlet>
  </div>
</div>


