<div class="dashboard-container">
  <div class="main-content">
    <h2>Equipment List</h2>

    <a routerLink="add-equipment" class="add-button">
      <i class="fas fa-plus"></i> Add New Equipment
    </a>




    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let equipment of equipments">
        <td>{{ equipment.name }}</td>
        <td>{{ equipment.description }}</td>
        <td>{{ equipment.status }}</td>
        <td>
          <button (click)="editEquipment(equipment.id)" class="icon-button" style="color: green">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteEquipment(equipment.id)" class="icon-button" style="color: red">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



