<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="header">
      <div class="header-text">Support It</div>
    </div>

    <div class="menu">
      <h2>Dashboard</h2>
      <ul>
        <li [ngClass]="{'active': (currentRoute$ | async) === '/user/tickets'}">
          <a routerLink="/user/tickets">
            <mat-icon>receipt</mat-icon>
            <span>Tickets</span>
          </a>
        </li>
        <li [ngClass]="{'active': (currentRoute$ | async) === '/user/add-ticket'}">
          <a routerLink="/user/add-ticket">
            <mat-icon>add_circle</mat-icon>
            <span>Create Ticket</span>
          </a>
        </li>
        <li (click)="logoutit()" style="background-color: #2980b9">
          <button mat-button >logout </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
