<div>
  <h2>Assigner un Ticket</h2>
  <form [formGroup]="assignForm" (ngSubmit)="assignTicket()">
    <label for="ticketId">Ticket:</label>
    <select id="ticketId" formControlName="ticketId">
      <option *ngFor="let ticket of tickets" [value]="ticket.id">{{ ticket.description }}</option>
    </select>

    <label for="technicianId">Technicien:</label>
    <select id="technicianId" formControlName="technicianId">
      <option *ngFor="let technician of technicians" [value]="technician.id">{{ technician.username }}</option>
    </select>

    <button type="submit" [disabled]="assignForm.invalid">Assigner</button>
  </form>
</div>
