<mat-toolbar color="primary">
  <span>User Dashboard</span>
</mat-toolbar>

<div class="dashboard-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      mode="side"
      opened="true"
      class="sidenav"
      [@slideInOut]="animationState">
      <mat-nav-list>
        <mat-list-item (click)="navigateTo('tickets')">Tickets</mat-list-item>
        <mat-list-item (click)="navigateTo('add-ticket')">Add Ticket</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content
      class="content"
      [@fadeInOut]="animationState">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
